*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
header{
    color: white;
    background-color: cornflowerblue;
}
h1{
    background-color: rgb(0, 119, 255);
    padding: 10px;
}
nav{
    background-color: hwb(231 2% 40% / 0.938);
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
main{
    border: 1px solid blue;
    overflow: auto;
}
section {
    width: 60%;
    float: left;
    box-sizing: border-box;
    margin: 10px;
}
p{
    background-color: rgba(47, 195, 240, 0.144);
    padding: 10px;
}
main section article header{
    padding: 10px;
}
main section article{
    margin: 10px;
}
main section article + article{
    margin: 0;
}
main aside{
    height: 100%;
    margin: 10px;
}
aside{
    background-color: antiquewhite;
    height: 100%;
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    clear: both;
    padding: 10px;
}
footer p{
    background-color: black;
}